package [[.PackageName]]

import "[[.ModulePath]]/internal/models"

// Create[[.ModelName]]Input is the input for creating a [[.ModelName]].
type Create[[.ModelName]]Input struct {
[[- range .Fields]]
	[[.Name]] [[.Type]] `json:"[[.JSONName]]"[[if .Required]] validate:"required"[[end]]`
[[- end]]
[[- range .Relationships]]
[[- if .IsBelongsTo]]
	[[.ForeignKey]] uint `json:"[[.ForeignKey | toJSONTag]]"`
[[- end]]
[[- end]]
}

// Update[[.ModelName]]Input is the input for updating a [[.ModelName]].
type Update[[.ModelName]]Input struct {
[[- range .Fields]]
	[[.Name]] *[[.Type]] `json:"[[.JSONName]],omitempty"`
[[- end]]
[[- range .Relationships]]
[[- if .IsBelongsTo]]
	[[.ForeignKey]] *uint `json:"[[.ForeignKey | toJSONTag]],omitempty"`
[[- end]]
[[- end]]
}

// List[[.ModelName]]Filter is the filter for listing [[pluralize .ModelName]].
type List[[.ModelName]]Filter struct {
	Search   string `json:"search"`
	Page     int    `json:"page"`
	PageSize int    `json:"page_size"`
	SortBy   string `json:"sort_by"`
	SortDesc bool   `json:"sort_desc"`
[[- if .HasRelationships]]
	Preloads []string `json:"preloads,omitempty"`
[[- end]]
}

// List[[.ModelName]]Result is the result of listing [[pluralize .ModelName]].
type List[[.ModelName]]Result struct {
	Items      []models.[[.ModelName]] `json:"items"`
	Total      int64                   `json:"total"`
	Page       int                     `json:"page"`
	PageSize   int                     `json:"page_size"`
	TotalPages int                     `json:"total_pages"`
	TotalItems int                     `json:"total_items"`
}

// [[.ModelName]]Response is the response format for a [[.ModelName]].
type [[.ModelName]]Response struct {
	ID        uint   `json:"id"`
[[- range .Fields]]
	[[.Name]] [[.Type]] `json:"[[.JSONName]]"`
[[- end]]
[[- range .Relationships]]
[[- if .IsBelongsTo]]
	[[.ForeignKey]] uint `json:"[[.ForeignKey | toJSONTag]]"`
	[[.FieldName]] *[[.Model]]Summary `json:"[[.FieldName | toLower]],omitempty"`
[[- else if .IsHasOne]]
	[[.FieldName]] *[[.Model]]Summary `json:"[[.FieldName | toLower]],omitempty"`
[[- else if .IsHasMany]]
	[[.FieldName]] [][[.Model]]Summary `json:"[[.FieldName | toLower]],omitempty"`
[[- else if .IsManyToMany]]
	[[.FieldName]] [][[.Model]]Summary `json:"[[.FieldName | toLower]],omitempty"`
[[- end]]
[[- end]]
	CreatedAt string `json:"created_at"`
	UpdatedAt string `json:"updated_at"`
}
[[- if .HasRelationships]]
[[- range .Relationships]]

// [[.Model]]Summary is a summary of a related [[.Model]].
type [[.Model]]Summary struct {
	ID   uint   `json:"id"`
	[[.DisplayField]] string `json:"[[.DisplayField | toLower]],omitempty"`
}
[[- end]]
[[- end]]

// To[[.ModelName]]Response converts a model to a response.
func To[[.ModelName]]Response([[.VariableName]] *models.[[.ModelName]]) *[[.ModelName]]Response {
	resp := &[[.ModelName]]Response{
		ID:        [[.VariableName]].ID,
[[- range .Fields]]
		[[.Name]]: [[$.VariableName]].[[.Name]],
[[- end]]
[[- range .Relationships]]
[[- if .IsBelongsTo]]
		[[.ForeignKey]]: [[$.VariableName]].[[.ForeignKey]],
[[- end]]
[[- end]]
		CreatedAt: [[.VariableName]].CreatedAt.Format("2006-01-02T15:04:05Z07:00"),
		UpdatedAt: [[.VariableName]].UpdatedAt.Format("2006-01-02T15:04:05Z07:00"),
	}
[[- if .HasRelationships]]

	// Map relationships if loaded
[[- range .Relationships]]
[[- if .IsBelongsTo]]
	if [[$.VariableName]].[[.FieldName]] != nil {
		resp.[[.FieldName]] = &[[.Model]]Summary{
			ID:            [[$.VariableName]].[[.FieldName]].ID,
			[[.DisplayField]]: [[$.VariableName]].[[.FieldName]].[[.DisplayField]],
		}
	}
[[- else if .IsHasOne]]
	if [[$.VariableName]].[[.FieldName]] != nil {
		resp.[[.FieldName]] = &[[.Model]]Summary{
			ID:            [[$.VariableName]].[[.FieldName]].ID,
			[[.DisplayField]]: [[$.VariableName]].[[.FieldName]].[[.DisplayField]],
		}
	}
[[- else if or .IsHasMany .IsManyToMany]]
	if len([[$.VariableName]].[[.FieldName]]) > 0 {
		resp.[[.FieldName]] = make([][[.Model]]Summary, len([[$.VariableName]].[[.FieldName]]))
		for i, item := range [[$.VariableName]].[[.FieldName]] {
			resp.[[.FieldName]][i] = [[.Model]]Summary{
				ID:            item.ID,
				[[.DisplayField]]: item.[[.DisplayField]],
			}
		}
	}
[[- end]]
[[- end]]
[[- end]]

	return resp
}
